<div class="row">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th><%= sortable("title") %></th>
      <th><%= sortable("link") %></th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <% @songs.each do |song| %>

        <tr>
          <td><%= song.id %></td>
          <td><%= song.title %></td>
          <td><%= song.link %></td>

          <td>
            <%= link_to "Edit", edit_admin_song_path(song), class: 'btn btn-primary' %>
            <%= link_to "Show", admin_song_path(song), class: 'btn btn-info' %>
            <%= link_to "Delete", admin_song_path(song),
                        method: :delete,
                        data: {confirm: "are you sure you want to destroy?"},
                        class: 'btn btn-danger'
            %>
          </td>
        </tr>


    <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="hpFooterBlock">
    <div class="apple_pagination">
      <div class="page_info">
        <%= page_entries_info @songs %>
      </div>
      <%= will_paginate @songs, :container => false%>
    </div>
  </div>
</div>