<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
    <ul class="nav nav-tabs">
      <li><a href="#home" data-toggle="tab">Home</a></li>
      <li><%= link_to "Statistic", admin_statistic_path, data:{toggle:"tab"}%></li>
      <li><a href="#profile" data-toggle="tab">Profile</a></li>
      <li><a href="#messages" data-toggle="tab">Messages</a></li>
      <li><a href="#settings" data-toggle="tab">Settings</a></li>
    </ul>
  </div>
    </div>
  <div class="col-md-4">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">

          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to "add a new episode", new_admin_episode_path, class:"btn btn-default" %></li>
            <li><%= link_to "add a new character", new_admin_character_path, class:"btn btn-default" %></li>
            <li><%= link_to "add a new cartoon", new_admin_cartoon_path, class:"btn btn-default" %> </li>
            <li><%= link_to "add a new song", new_admin_song_path, class:"btn btn-default" %> </li>
            <li><%= link_to "add a new quote", new_admin_quote_path, class:"btn btn-default" %> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    stuff
  </div>
  <div class="col-md-4">
  <div class="panel panel-danger">
    <div class="panel panel-primary">

    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to "All Cartoons", admin_cartoons_path, class: "btn btn-info" %>
        <span class="label label-primary">Total cartoons</span>
        <span class="badge"><%= @statistic.total_cartoons %></span>
      </li>
      <li class="list-group-item">
        <%= link_to "All Characters", admin_characters_path, class: "btn btn-info" %>
        <span class="label label-primary">Total characters</span>
        <span class="badge"><%= @statistic.total_characters %></span>
      </li>

      <li class="list-group-item">
        <%= link_to "All Songs", admin_songs_path, class: "btn btn-info" %>
        <span class="label label-primary">Total songs</span>
        <span class="badge"><%= @statistic.total_songs %></span>
      </li>
      <li class="list-group-item">
        <%= link_to "All Quotes", admin_quotes_path, class: "btn btn-info" %>
        <span class="label label-primary">Total quotes</span>
        <span class="badge"><%= @statistic.total_quotes %></span>
      </li>
      <li class="list-group-item">
        <%= link_to "All Episodes", admin_episodes_path, class: "btn btn-info" %>
        <span class="label label-primary">Total episodes</span>
        <span class="badge"><%= @statistic.total_episodes %></span>
      </li>
    </ul>

    </div>
  </div>

</div>
 </div>