<div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>

<div class=" row">
  <% @cartoons.each do |c| %>

      <div class="col-lg-4">
        <hr/>
        <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
        <h2><%= c.title %></h2>
        <p><%= c.created_by %></p>
        <p><%= c.no_of_seasons %></p>
        <p><%= c.no_of_episodes %></p>
        <p>Lorem test here</p>
        <p><%= link_to "View Details ", cartoon_path(c), class: "btn btn-info" %></p>

      </div><!-- /.col-lg-4 -->

  <% end %>
</div>
