<%= search_form_for @search do |f| %>
    <div>
      <%= f.label :title_cont, "Title Contains" %>
      <%= f.text_field :title_cont %>
    </div>
    <div>
      <%= f.label :no_of_episodes_gteq, "Episodes between" %>
      <%= f.text_field :no_of_episodes_gteq %>
      <%= f.label :no_of_episodes_lteq, "and" %>
      <%= f.text_field :no_of_episodes_lteq %>
    </div>
    <div>
      <%= f.submit %>
    </div>

<% end %>


<% @cartoons.each do |c| %>
    <%= link_to c.title, cartoon_path(c) %>
<% end %>


