<%= search_form_for @search do |f| %>

    <%= f.condition_fields do |c| %>
        <div>
          <%= c.attribute_fields do |a| %>
          <%= a.attribute_select %>
          <% end %>
        </div>
        <% end %>

     <p> <%= f.submit %></p>

<% end %>


<% @cartoons.each do |c| %>
    <%= link_to c.title, cartoon_path(c) %>
<% end %>


