<div class="row">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th><%= sortable "name" %> </th>
      <th> <%= sortable "episode " %></th>
      <th><%= sortable "season" %> </th>
      <th><%= sortable "guest actor" %> </th>
      <th><%= sortable "plot" %>t</th>
      <th><%= sortable "background" %></th>
      <th><%= sortable "review" %></th>
      <th><%= sortable "number of episodes" %></th>

      <th> Options</th>
    </tr>
    </thead>
    <tbody>
    <% @episodes.each do |episode| %>

        <tr>
          <td><%= episode.id %></td>
          <td><%= episode.name %></td>
          <td><%= episode.episode_number %></td>
          <td><%= episode.season_number %></td>
          <td><%= episode.guest_actors %></td>
          <td><%= episode.plot %></td>
          <td><%= episode.background %></td>
          <td><%= episode.review.html_safe %></td>

          <td>
            <%= link_to "Edit", edit_admin_episode_path(episode), class: 'btn btn-primary' %>
            <%= link_to "Show", admin_episode_path(episode), class: 'btn btn-info' %>
            <%= link_to "Delete", admin_episode_path(episode),
                        method: :delete,
                        data: {confirm: "are you sure you want to destroy?"},
                        class: 'btn btn-danger'
            %>
          </td>
        </tr>

    <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="hpFooterBlock">
    <div class="apple_pagination">
      <div class="page_info">
        <%= page_entries_info @episodes %>
      </div>
      <%= will_paginate @episodes, :container => false%>
    </div>
  </div>
</div>