<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <%= link_to "Admin ", admin_dashboard_path, class:"navbar-brand" %>
  <div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul class="nav navbar-nav">

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cartoons <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "List all Cartoons", admin_cartoons_path %></li>
          <li><%= link_to "Add a new Cartoon", new_admin_cartoon_path %></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Characters <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "List all Characters", admin_characters_path %></li>
          <li><%= link_to "Add a new Character", new_admin_character_path %></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Episodes <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "List all Episodes", admin_episodes_path %></li>
          <li><%= link_to "Add a new Episode",new_admin_episode_path %></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Songs <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "List all Songs", admin_songs_path %></li>
          <li><%= link_to "Add a new Song",new_admin_song_path %></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quotes <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "List all Quotes", admin_quotes_path %></li>
          <li><%= link_to "Add a new Quote",new_admin_quote_path %></li>
        </ul>
      </li>


    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div><!-- /.navbar-collapse -->
</nav>