<!DOCTYPE html>
<html>
<head>
  <title>Cartoons - <%= controller.controller_name %> - <%= controller.action_name %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
 <div class= "row">
   <%= render "admin/shared/header" %>
   <div class="row">
     <% flash.each do |name, msg| %>
         <div class="alert alert-<%= name == :notice ? "success" : "warning" %>">
           <a class="close" data-dismiss="alert">x</a>
           <%= msg  %>
         </div>
     <% end %>
   </div>
   <%= yield %>
 </div>
</div>

</body>
</html>
