<!DOCTYPE html>
<html>
<head>
  <title>Cartoons | <%= controller_name %> | <%= request.path.split("/").join("-") %></title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render "layouts/shared/header" %>
  <% Announcement.active_announcement(cookies.signed[:hidden_announcement_ids]).each do |aa| %>
      <%= div_for aa do  %>
      <%= aa.message %>
      <%= link_to "hide me", hide_announcements_path(aa) %>
      <% end %>
      <% end %>
  <div class="row">
      <div class="col-lg-10">
        <%= yield %>
      </div>
      <div class="col-lg-2">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">first</a> </li>
          <li><a href="#">second</a> </li>
          <li><a href="#">one more</a> </li>
          <li><a href="#">this is so cool</a> </li>
          <li><a href="#">omg</a> </li>

        </ul>
      </div>
   </div>
  <%= render "layouts/shared/footer" %>
</div>

</body>
</html>
